{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
<div class="container-xl bg-light p-5 border-top">
    <h1>Saison</h1>

    <a type="button" href="{{ path('app_back_season_index') }}"><span class="badge bg-warning text-dark fs-6 mx-2 my-2"> Retour à la liste </span></a>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ season.number }}</td>
            </tr>
            <tr>
                <th>EpisodesNumber</th>
                <td>{{ season.episodesNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" href="{{ path('app_back_season_edit', {'id': season.id}) }}"><span class="badge bg-warning text-dark fs-6 ms-2"> Editer </span></a>

    {{ include('back/season/_delete_form.html.twig') }}
</div>
{% endblock %}
